{%- if block.settings.text != blank -%}
  <style>
    #shopify-block-{{ block.id }} {
      text-transform: {{ block.settings.text_transform }};
      letter-spacing: {{ block.settings.letter_spacing_percent | divided_by: 100.0 }}em;
      font-weight: {{ block.settings.font_weight }};
      font-size: {{ block.settings.font_size }}px;
    }
  </style>

  <div id="shopify-block-{{ block.id }}" class="{% if block.settings.content_width != 'full' %}max-w-{{ block.settings.content_width }}{% endif %}" {{ block.shopify_attributes }}>
    {{- block.settings.text -}}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Hero Rich Text",
  "tag": null,
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "t:global.text.content",
      "default": "<p>Write some text about your products or your brand.</p>"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:global.sizes.content_width",
      "options": [
        {
          "value": "xs",
          "label": "t:global.sizes.x_small"
        },
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        },
        {
          "value": "full",
          "label": "t:global.sizes.full_width"
        }
      ],
      "default": "full"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "select",
      "id": "text_transform",
      "label": "Text transform",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "uppercase"
    },
    {
      "type": "range",
      "id": "letter_spacing_percent",
      "label": "Letter spacing",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "%",
      "default": 15
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "400",
          "label": "Regular"
        },
        {
          "value": "500",
          "label": "Medium"
        },
        {
          "value": "600",
          "label": "Semi Bold"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ],
      "default": "500"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font size",
      "min": 10,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 14
    }
  ],
  "presets": [
    {
      "name": "Hero Rich Text"
    }
  ]
}
{% endschema %}
